<h3>Hello <%= current_admin.email %></h3>
<%= button_to 'Create a new Post', new_post_url, {:method => 'get', :class => 'btn'} %></br>
<%= button_to 'Edit posts', posts_url, {:method => 'get', :class => 'btn'} %></br>
<%= button_to 'Create another admin account', new_registration_path(@admin), 
              {:method => 'get', :class => 'btn'} %>