<div id='controls'><%= button_to 'Admin Panel', '/admins/panel', {:method => 'get', :class => 'btn'}%></div>
<h2>International Students Association</h1>
<h3>Site Under Development</h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <h4><%= post.title %></h4>
      <p><%= post.content %></p>
      <div class='attachments'>
        <% post.attachments.each do |attachment| %>
          <%= image_tag attachment.url %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

  