#admins-panel {
	width: 100%;
	max-width: 800px;
	overflow: hidden;
	margin: 20px auto;
	text-align: center;
	background-color: #FFE;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #444;
}

#panel-actions {
	width: 100%;
	overflow: hidden;
	margin-top: 15px;
}

#panel-actions input {
	width: 230px;
}

.attachments-container {
	width: 100%;
	overflow: hidden;
}

.attachments-container img {
	margin: 10px;
	width: 40%;
	max-width: 300px;
	max-height: 200px;
	box-shadow: 3px 3px 10px #444;
}

.post {
	width: 95%;
	overflow: hidden;
	margin: 10px auto;
	background-color: #FFE;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #444;
}

.post h4 {
	font-size: 26px;
	text-align: center;
}

.post p {
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 0 15px;
}
