#admins-panel, .sign-in-form, .index-table-container, .new-resource, .show-post {
	width: 100%;
	max-width: 800px;
	overflow: hidden;
	margin: 20px auto;
	text-align: center;
	background-color: #FFF;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #555;
}

#panel-actions {
	width: 100%;
	overflow: hidden;
	margin-top: 15px;
}

#panel-actions input {
	width: 230px;
}

.attachments-container {
	width: 100%;
	overflow: hidden;
}

.attachments-container img {
	margin: 10px;
	width: 40%;
	max-width: 300px;
	max-height: 200px;
	box-shadow: 3px 3px 10px #555;
}

.remember-me {
	margin: 10px 0px 15px 0px;
}

.remember-me label {
	display: inline;
}