// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-container, .attachment-urls {
	padding-bottom: 20px;
}

.resource-form {
	width: 70%;
	max-width: 800px;
	margin: 0 auto;
}

.resource-form textarea {
	width: 100%;
	height: 200px;
	font-size: 16px;
}

.resource-form input#post_title {
	width: 70%;
	font-size: 16px;
}

.resource-form label {
	font-size: 18px;
}

.post {
	width: 92%;
	overflow: hidden;
	margin: 10px auto;
	background-color: #FFF;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #555;
}

.post hr {
	width: 90%;
	margin: 16px auto;
	border-bottom: 0px;
	border-color: #CCC;
}

.post h4 {
	width: 100%;
	overflow: hidden;
	padding: 10px;
	color: #484848;
	font-size: 26px;
	text-align: center;
}

.post p {
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 0 15px;
}

.post p.publisher, p.date {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: right;
}

.new-resource {
	max-width: 1100px;
	text-align: left;
}

.new-resource h1 {
	margin-bottom: 20px;
}

.show-post {
	padding: 15px 25px;
	text-align: left;
}

.show-post .links {
	width: 100%;
	overflow: hidden;
	margin-top: 25px;
	text-align: center;
}

.index-table-container {
	max-width: 1100px;
}

.index-table-container table {
	margin-top: 20px;
}

.index-table-container th {
	padding: 5px 0px;
	border: 1px solid #888;
	border-left: 0px;
	border-right: 0px;
}

.index-table-container td {
	vertical-align: top;
	padding: 20px 0px;
}

.index-table-container td .btn {
	width: 60px;
}

.index-table-container tr {
	border-bottom: 1px solid #888;
}

.index-table-container .content {
	width: 55%;
	max-width: 600px;
	text-align: left;
}
